@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url(../fonts/OpenSansSemiBold.woff2);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSansBold.woff2);
}
